<div class="barraTituloCRUD">
    Obtener Festivos
</div>
<div>
    <mat-form-field>
        <mat-label>Año</mat-label>
        <input matInput [(ngModel)]="textYear">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="obtener()">Obtener Festivos</button>
    <ngx-datatable class="dark" [rows]="festivos" [columns]="columnas" [limit]="20" [headerHeight]="50"
    [footerHeight]="50" [rowHeight]="'auto'" [columnMode]="modoColumna.force"
    [selectionType]="tipoSeleccion.single"></ngx-datatable>
</div>
